<tr>
  <td><input [(ngModel)]="name" class="form-control form-control-sm"
             [disabled]="isEditable !== ''" style="min-width: 120px;"></td>
  <td><input [(ngModel)]="lname" class="form-control form-control-sm"
             [disabled]="isEditable !== ''" style="min-width: 120px;"></td>
  <td><input [(ngModel)]="ci" class="form-control form-control-sm"
             [disabled]="isEditable !== ''" style="min-width: 150px;"></td>
  <td><input [(ngModel)]="phone" class="form-control form-control-sm"
             [disabled]="isEditable !== ''" style="min-width: 120px;"></td>
  <td><input [(ngModel)]="email" class="form-control form-control-sm"
             [disabled]="isEditable !== ''" style="min-width: 90px;"></td>
  <td><input [(ngModel)]="rude" class="form-control form-control-sm"
             [disabled]="isEditable !== ''" style="min-width: 100px;"></td>
  <td >
    <div style="display: flex; flex-direction: row;"><select [(ngModel)]="selectedclass" class="form-control form-control-sm"  style="min-width: 100px;">
              <option selected value="0"></option>
            @for (class of classes; track $index) {
              <option [value]="class.id">{{class.stage+class.grade+class.parallel}}</option>
            }
            </select><button (click)="assignClass()" class="btn btn-outline-primary">💾</button></div>
  </td>

  <td class="d-flex gap-1 justify-content-center">
    <button (click)="OnEditButtonClick()" class="btn btn-outline-primary btn-sm">
      {{ isEditable === '' ? '💾' : '✏️' }}
    </button>
    <button (click)="OnEntryButtonClick()" class="btn btn-outline-danger btn-sm">
      🗑️
    </button>
    <button [routerLink]="'/admin/students/' + id" class="btn btn-outline-primary btn-sm">
      🧑‍🎓
    </button>
  </td>
</tr>
