<div class="container mt-4">
  <div class="d-flex justify-content-end mb-3">
    <button (click)="CreateNewEntry()" class="btn btn-success">
      ➕ Nueva Area
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead style="background-color: #e3f2fd;">
        <tr>
          <th><b>Área</b></th>
          <th colspan=><b>Materias</b></th>
          <th><b>Docente</b></th>
          <th><b>Cursos</b></th>
        </tr>
      </thead>
        @for (subjectarea of subjectareas; track $index) {
      <tbody adminsubjects_item [subjectarea]="subjectarea">
      </tbody>
        }
    </table>
  </div>

</div>
