<div class="container mt-4">

  <div class="d-flex justify-content-end mb-3">
    <button (click)="CreateNewEntry()" class="btn btn-success">
      ➕ Nuevo Usuario
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered text-center align-middle small"
           style="border-collapse: separate; border-spacing: 0px;">
      <thead style="background-color: #e3f2fd;">
        <tr>
          <th><b>Login</b></th>
          <th><b>Contraseña</b></th>
          <th><b>Rol</b></th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
          <users_item
            (entryDeletedEvent)="OnChildButtonClick()"
            style="display: contents;"
            [id]="user.id"
            [login]="user.login"
            [password]="user.password"
            [role]="user.role">
          </users_item>
        }
      </tbody>
    </table>
  </div>

</div>
