@if (profile != null) {
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow"
        style="width: 100%; max-width: 400px; background-color: #ffffff; border-radius: 12px;">

      <h4 class="text-center text-primary mb-3">Perfil de {{profile.lname + " " + profile.name}}</h4>

      <p class="text-center text-muted mb-4">
      </p>

      <div class="d-flex flex-column gap-1">

        <label class="form-label mb-1">RUDE</label>
        <div class="form-control" >{{profile.rude}}</div>

        <label class="form-label mb-1">Cédula de identidad</label>
        <div class="form-control" >{{profile.ci}}</div>

        <label class="form-label mb-1">Teléfono del guardián</label>
        <div class="form-control" >{{profile.phone}}</div>

        <label class="form-label mb-1">Correo electrónico del guardián</label>
        <div class="form-control" >{{profile.email}}</div>

        <label class="form-label mb-1">Curso</label>
        <div class="form-control" >{{profile.classes.stage + profile.classes.grade + profile.classes.parallel}}</div>

        <label class="form-label mb-1">Materias</label>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Promedio</th>
            <th>Predicción</th>
          </tr>
        </thead>
        <tbody>
          @for (sub of profile.classes.subjects; track $index) {
            <tr>
              <td>{{sub.title}}</td>
              <td>{{sub.scores.average}}</td>
              <td>{{sub.scores.prediction}}</td>
            </tr>
          }
        </tbody>
        </table>

      </div>
    </div>
  </div>
}
