<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card p-4 shadow"
       style="width: 100%; max-width: 400px; background-color: #ffffff; border-radius: 12px;">

    <h4 class="text-center text-primary mb-3">Perfil de estudiante</h4>

    <p class="text-center text-muted mb-4">
    </p>

    <div class="d-flex flex-column gap-1">

      <label for="rude" class="form-label mb-1">Apellido(s)</label>
      <input value="225000001"
             id="rude"
             maxlength="50"
             class="form-control" />

      <label for="login" class="form-label mb-1">Nombre(s)</label>
      <input value="Joaquin"
             id="name"
             maxlength="100"
             class="form-control" />

      <label for="lname" class="form-label mb-1">Apellido(s)</label>
      <input value="Chumacero"
             id="lname"
             maxlength="50"
             class="form-control" />

      <label for="class" class="form-label mb-1">Curso</label>
      <input value="P1A"
             id="class"
             maxlength="50"
             class="form-control" />
    </div>
  </div>
</div>
