<div style="height: 32px;"></div>
<h4 class="text-center text-primary mb-3">Notas trimestrales</h4>
<div style="height: 32px;"></div>
  <div style="display: flex; justify-content: center; width: 100%;">  <div class="table-responsive">
    @if (entry != null) {
      <table class="table table-hover table-bordered text-center align-middle small"
            style="border-collapse: separate; border-spacing: 0px;">
        <thead style="background-color: #e3f2fd;">
          <tr><th colspan="2"><b>{{entry.rude + ' | ' + entry.lname + ' ' + entry.name}}</b></th></tr>
          <tr><th><b>Titulo</b></th><th><b>Nota</b></th></tr>
        </thead>
        <tbody>
          @for (en of sem1t; track $index) {
            <tr>
              <td><i><b>{{en.title}}</b></i></td>
              <td>{{findValue(en, entry)}}</td>
            </tr>
          }
          <tr>
            <td><b>1er Trimestre</b></td>
            <td><b>{{getAverage(1, entry)}}</b></td>
          </tr>
          @for (en of sem2t; track $index) {
            <tr>
              <td><i><b>{{en.title}}</b></i></td>
              <td>{{findValue(en, entry)}}</td>
            </tr>
          }
          <tr>
            <td><b>2do Trimestre</b></td>
            <td><b>{{getAverage(2, entry)}}</b></td>
          </tr>
          @for (en of sem3t; track $index) {
            <tr>
              <td><i><b>{{en.title}}</b></i></td>
              <td>{{findValue(en, entry)}}</td>
            </tr>
          }
          <tr>
            <td><b>3er Trimestre</b></td>
            <td><b>{{getAverage(3, entry)}}</b></td>
          </tr>
        </tbody>
      </table>
    }
  </div>
</div>

