<div style="height: 32px;"></div>
<h4 class="text-center text-primary mb-3">Participación en clase</h4>
<div style="height: 32px;"></div>
<div style="display: flex; justify-content: center; width: 100%;">  <div class="table-responsive">
    <table class="table table-hover table-bordered text-center align-middle small"
           style="border-collapse: separate; border-spacing: 0px;">
      <thead style="background-color: #e3f2fd;">
        <tr>
          <th><b>RUDE</b></th>
          <th><b>Estudiante</b></th>
          <th><b>Nota</b></th>
          <th><b>Fecha</b></th>
          <th><b>Descripción</b></th>
        </tr>
      </thead>
      <tbody>
        @for (student of participations; track $index) {
          @if (student.participations.length == 0) {
            <tr>
              <td><input [value]="student.rude" class="form-control form-control-sm"
                        disabled style="min-width: 120px;"></td>
              <td><a class="form-control form-control-sm" disabled style="min-width: 120px;">
                {{student.lname + " " + student.name}}
              </a></td>
                <td colspan="3"><button [routerLink]="'/teacher/subjects/' + id + '/classes/' + class + '/participation/create/' + student.id + '/'" class="btn btn-outline-success btn-sm" style="width: 100%;"> ➕ Participación </button></td>
            </tr>
          }
          @for (participation of student.participations; track $index) {
            <tr>
              @if (student.participations.indexOf(participation) == 0) {
              <td [rowSpan]="student.participations.length+1"><input [value]="student.rude" class="form-control form-control-sm"
                        disabled style="min-width: 120px;"></td>
              <td [rowSpan]="student.participations.length+1"><a class="form-control form-control-sm" disabled style="min-width: 120px;">
                {{student.lname + " " + student.name}}
              </a></td>
              }
              <td><input [value]="formatdate(participation.date, 'dd-MM', 'en-US')" class="form-control form-control-sm"
                        disabled style="min-width: 120px;"></td>
              <td><input [value]="participation.description" class="form-control form-control-sm"
                        disabled style="min-width: 120px;"></td>
              <td><input [value]="participation.score" class="form-control form-control-sm"
                        disabled style="min-width: 120px;"></td>
              <td class="d-flex gap-1 justify-content-center">
                <button [queryParams]="{ description: participation.description, score: participation.score}" [routerLink]="'/teacher/subjects/' + id + '/classes/' + class + '/participation/edit/' + participation.id + '/'" class="btn btn-outline-primary btn-sm">
                  ✏️
                </button>
                <button (click)="deleteEntry(participation.id)" class="btn btn-outline-danger btn-sm">
                  🗑️
                </button>
              </td>
            </tr>
          }
          @if (student.participations.length != 0) {
            <tr>
            <td colspan="3"><button [routerLink]="'/teacher/subjects/' + id + '/classes/' + class + '/participation/create/' + student.id + '/'" class="btn btn-outline-success btn-sm" style="width: 100%;"> ➕ Participación </button></td>
            </tr>}
        }
      </tbody>
    </table>
  </div>
</div>

