@if (subject != null) {
  <div class="card p-4 shadow" style="width: 100%; max-width: 600px; background-color: #ffffff; border-radius: 12px;">
    <div class="card-body">
      <h5 class="card-title" (click)="toggleExpanded()">{{toggled ? "▽" : "△" }} {{subject.title}} | 🏫: {{subject.classes.length}} | 🧑‍🎓 {{countStudents()}} | 📊: ~{{getAverage() | number:'1.0-2'}}</h5>
    </div>
    <ul class="list-group list-group-flush">
    @if (toggled) {
      @for (class of subject.classes; track $index) {
        <student_entry [class]="class" [subject]="subject"></student_entry>
      }
    }
    </ul>
  </div>
}
